.top {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #383768;
    padding: 0 20px;
}

.auth button {
    margin-left: 10px;
    padding: 6px 12px;
    border-radius: 5px;
}

.chat-space {
    background-image: url("background.jpg");
}

html, body {
    margin: 0;
    padding: 0; 
    height: 100%;
}

.app-container {
    display: grid;
    grid-template-rows: 100px 1fr; 
    height: 100vh;
}

.message {
    position: absolute;
    bottom: 200px; 
    left: 50%;  
    transform: translateX(-50%);
    display: flex;
    gap: 10px;            
}

.message input {
    padding: 8px 12px;
    border-radius: 7px;
    border: 1px solid #ccc;
    width: 300px;
}

.message button {
    border-radius: 9px;
    width: 100px;
    background-color: #000000;
    color: #ffffff;
}